/* styles.css */
.calculator {
  width: 240px;
  margin: auto;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calculator-screen {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  text-align: right;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calculator-buttons button {
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  background-color: #e0e0e0;
}

.calculator-buttons button:hover {
  background-color: #ccc;
}
.calculator-results {
  text-align: center;
}

.Heading {
  text-align: center;
}
